body{
    margin: 0;
    position: relative;
    width: 1440px;
    height: 1024px;
    font-family: 'Sergoe UI', serif;
    background: no-repeat url('../img/horse.png');
    background-color: #212121;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
}
li{
    display: inline-block;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}

section{
    display: flex;
    justify-content: space-between;
}

p{
    width: 323px;
    height: 167px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    left: 1px;
    right: 1px;
    bottom: 11px;
    top: 78px;

    color: #FFFFFF;
}

a{
    text-decoration: none;
}

.logo{
    position: absolute;
    width: 62px;
    height: 60px;
    left: 146px;
    top: 40px;
}

.navbar{
    position: absolute;
    width: 643px;
    height: 26px;
    left: 438px;
    top: 74px;
    color: #FFFFFF;
}

.back{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
}

.men{
    margin-right: 92px;
}
.women{
    margin-right: 73px;
}
.kids{
    margin-right: 78px;
}

.shoe{
    position: absolute;
    width: 966.38px;
    height: 741px;
    left: 408.1px;
    top: -31px;    
}

.adidas{
    position: absolute;
    left: -139px;
    right: 0;
}

.text{
    position: absolute;
    width: 323px;
    height: 234px;
    left: 145px;
    top: 353px;
}

.btxt{
    margin-left: 15px;
    margin-bottom: 19px;
    width: 293px;
    height: 59px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    left: 15px;
    right: 15px;
    bottom: 175px;
    top: 0;
    
    color: #FFFFFF;
}

.shop-now{
    position: absolute;
    width: 126px;
    height: 46px;
    left: 1022px;
    top: 815px;
    border: 2px solid #FFFFFF;
}

.shop-now:hover{
    background-color: #FFFFFF;
}

h4{
    margin-top: 11px;
    margin-left: 25px;
    margin-right: 27px;
    margin-bottom: 16px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    text-align: center;

    color: #FFFFFF;
}

h4:hover{
    color:#212121;
}